@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&subset=korean');

* { margin: 0; border: 0; padding: 0; }
* { font-family: 'Nanum Gothic', sans-serif; }
* { font-size: 10pt; color: #606060; }

body { background-color: #f4f4f4; }
table { width: 100%; border-collapse: collapse; }
table { border: thin solid #dddddd; }
td { border: thin solid #dddddd; }
td { font-size: 9pt; }

thead { text-align: center; }
thead {	background-color: aliceblue; }

thead td { height: 24px; }
input { vertical-align: middle; }




.head_wrap {
	width: calc(1100px - 20px * 2);
	padding: 20px 20px 10px;
	margin: 50px auto 0;
	background-color: #fff;
	display: flex;
}

.head_tab {
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	
	margin-right: -1px;
	border: 1px solid #d6d6d6;
	color: #9d9d9d;
}

.head_tab_normal:hover {
	background-color: #57beff;
	border-color: #57beff;
	color: #fff;
	cursor: pointer;
	z-index: 100;
}

.head_tab_selected {
	background-color: #426174;
	border-color: #426174;
	color: #fff;
	font-weight: 700;
	z-index: 10;
}




.body_wrap {
	width: calc(1100px - 20px * 2);
	padding: 10px 20px 20px;
	margin: 0 auto 50px;
	background-color: #fff;
}

.option_wrap {
	line-height: 30px;
	text-align: right;
}

.td_lottery_turn {
	width: 4%;
	text-align: center;
}

.td_lottery_date {
	width: 8%;
	text-align: center;
}

.td_lottery_num {
	width: 32%;
}

.td_rank_1 {
	width: 15%;
	font-size: 10pt;
	font-weight: 700;
}

.td_rank_2 {
	width: 13%;
}

.td_rank_3 {
	width: 11%;
}

.td_rank_4 {
	width: 9%;
}

.td_rank_5 {
	width: 8%;
}

.td_lottery_rank {
	text-align: right;
	padding: 0 10px;
}

.num_ball_wrap {
	display: flex;
	justify-content: space-around;
	padding: 3px 4px;
}

.num_ball {
	font-weight: 700;
	color: #fff;
	text-align: center;
	background-color: #ebebeb;
	border-radius: 100px;
}

.num_lottery {
	width: 28px;
	line-height: 28px;
	font-size: 12pt;
}

.num_div {
	line-height: 28px;
}

.num_o { background-color: #f7ba4a; }
.num_b { background-color: #8080ff; }
.num_r { background-color: #ff6d6d; }
.num_k { background-color: #535353; }
.num_g { background-color: #55a055; }




.td_num_all {
	width: 96%;
}

.num_all {
	width: 20px;
	line-height: 20px;
	font-size: 8pt;
}




.td_num_mark {
	width: 10%;
	padding: 4px 2px;
}

.num_mark_wrap {
	width: 98px;
	margin: 0 auto;
	overflow: hidden;
}

.num_mark {
	float: left;
	font-size: 7pt;
	width: 12px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	color: #bebfbf;
	background-color: #ebebeb;
	border-radius: 100px;
	margin: 2px 1px;
}

.num_marked {
	color: #ededed;
	background-color: #585858;
}



.td_drop {
	width: calc((100% - 4%) / 45);
	height: 20px;
}

.drop_wrap {
	width: 16px;
	font-size: 8pt;
	text-align: center;
	color: #bebfbf;
	background-color: #ebebeb;
	margin: 0 auto;
}

.drop_end {
	margin-top: 4px;
	height: 20px;
	line-height: 16px;
	color: #606060;
}

.drop_ing {
	height: 24px;
	line-height: 24px;
	color: #ebebeb;
}

.drop_start {
	margin-bottom: 2px;
	height: 22px;
	line-height: 24px;
	color: #ebebeb;
}

.drop_win {
	line-height: 16px;
	font-size: 9pt;
	color: #e6145d;
	background-color: #ffc2e8;
	border-radius: 10px;
}
