.ui_extension {
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #a7a7a7;
	border: thin solid #a7a7a7;
	cursor: pointer;
}

.ui_extension:hover {
	color: #fff;
	font-weight: 700;
	background-color: #6dc6ed;
	border-color: #6dc6ed;
}


.body_wrap {
	width: 1100px;
	margin: 30px auto;
}

.filter_wrap {
	width: 800px;
}

.filter {
	background-color: #fff;
	margin-bottom: 20px;
}

.filter_title_wrap {
	height: 50px;
	line-height: 50px;
	border-bottom: thin solid #eaeaea;
	overflow: hidden;
}

.filter_title_wrap .ui_extension {
	float: left;
	margin: 14px 9px;
}

.filter_title {
	font-size: 12pt;
	margin-left: 4px;
	float: left;
}

.filter_result {
	height: 40px;
	font-size: 12pt;
	font-weight: 700;
	text-align: right;
	color: #408be3;
	float: right;
	margin-right: 10px;
}




.filter_analysis_wrap {
	padding: 10px 10px 20px;
}

#except_condition_num td {
	width: calc(100% / 45);
	height: 30px;
	font-size: 8pt;
	text-align: center;
	cursor: pointer;
}

#except_condition_num .selected {
	color: #fff;
	background-color: #6dc6ed;
	border-color:  #6dc6ed;
}

#except_condition_set td {
	width: calc(100% / 45);
	height: 20px;
	text-align: center;
}



/*

.except_num {
	width: calc((100% - 720px) / 2);
	text-align: center;
}

.except_grp {
	width: 720px;
}

.except_set {
	width: calc((100% - 720px) / 2);
	text-align: center;
}


.except_grp_wrap {
	width: 200px;
	height: 80px;
	overflow: scroll;
}
*/




