@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700');

* { margin: 0; border: 0; padding: 0; }
* { font-family: 'Nanum Gothic', sans-serif; }
* { font-size: 10pt; color: #727272; }


body { background-color: #f4f4f4; }

table { width: 100%; border-collapse: collapse; }
td { border: thin solid #dddddd; }

thead { text-align: center; background-color: aliceblue; }
thead td { height: 22px; }

input { vertical-align: middle; }

.outline { outline: thin solid blue; }
